# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

config VCU_PORTS_MOCK
    bool "Use mock port implementations for testing and debug"
    default n
    help
        replace real driver-backed port read/write with static mock data. 
        enable in debug.conf

config STATIC_VCU_DEV
    bool "Make network static for testing and debug"
    default n
    help
        replace dynamic configuration with static values. 
        enable in debug.conf

config GATEWAY_UDP_PORT
    int "can-util rx and tx port"
    default 5555
    help
        sets the port the linux driver uses

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"
